GLISSANDOO_URL=https://auth.glissandoo.com/es/signin
GLISSANDOO_EMAIL=tu_email
GLISSANDOO_PASSWORD=tu_password
GLISSANDOO_AGRUPACION=tu_agrupacion

ONEFLOW_URL=https://app.oneflow.com/login
ONEFLOW_EMAIL=tu_email
ONEFLOW_PASSWORD=tu_password

GMAIL_FROM=tu-email@gmail.com
GMAIL_PRUEBA=tu-email-de-prueba@gmail.com
MODO_TEST=False